.editorBlock{
    position: relative;
    min-height: 600px;
    min-width: 500px;
    background: #2a2a2a
}
form{

    position: absolute;
    top: 47%;
    margin-left: 2px;
    width: 300px;
}
input{
    width: 100%;
    border: #aaa .5px solid;
    border-radius:10px;
    z-index: -10;
}
textarea{
    display: none;
}
iframe#render{
    position: absolute;
    left: 315px;
    top: 10px;
    width: 40%; 
    height: 50%; 
    background: #fff;  
}
.editor {
    position: absolute;
    width: 270px;
    margin: 0 auto;
    padding: 1em;
    background: #fff;
    height: 40%;
    margin: 2px;
    border: 1px solid black;
    color: #fff;
    overflow: auto;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#cast {
    z-index: 20;
    color: #fff;
    background: #181722;
}

#edit {
    z-index: 100;
    background: transparent;
    color: transparent;
    caret-color: white;
    overflow: hidden;
    resize: both;

}

.editor span.html {
    color: #e2017d;
}